/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(245, 245, 245);
    margin: 0rem 9.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Header */
